@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Stint+Ultra+Condensed&display=swap');
        
body{
    background-color: lightslategrey;
}
.box{
    box-sizing: border-box;
    width: 25%;
    height: 600px;
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 80px;
    padding: 30px;  
}
.box img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: block;
    margin: auto;
}
h1,h4,p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(100, 99, 99);
}
h1,h4{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 150%;
    text-align: center;
}
.logo{
    display: flex;
    margin-top: 40px;
}
.logo img{
    height: 30px;
    width: 30px;
    border-radius: 0;
}